---
layout: project
---

<div class="content grey-lighten-3">
  {% for item in site.data.projects %}
    {% assign tags = item.tags %}
    <div class="{{ item.tags }} {% if tags contains 'current' %} visible {% else %}hidden{% endif %}">
          <div class="card hoverable">
            <div class="card-image">
              <img class="activator" src="{{ item.img }}">
              <span class="card-title">{{ item.name }}</span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">{{ item.name }}<i class="material-icons right">close</i></span>
              <p>{{ item.long_description }}</p>
            </div>
            <div class="card-content">
              <p>{{ item.short_description }}</p>
            </div>
            <div class="card-action">
              <a href="{{ item.url }}">Take me there</a>
              <a href="{{ item.github_url }}">Github</a>
            </div>
      </div>
    </div>
  {% endfor %}
</div>
