<a href={{include.section.url}} class="homepage-section glitch col s12 {{include.section.class}}">
  <div class="glitch__img {{include.section.class}}__bkgrnd"></div>
  <div class="glitch__img {{include.section.class}}__bkgrnd"></div>
  <div class="glitch__img {{include.section.class}}__bkgrnd"></div>
  <div class="glitch__img {{include.section.class}}__bkgrnd"></div>
  <div class="glitch__img {{include.section.class}}__bkgrnd"></div>
  <div class="box valign-wrapper">
    <div class="row col s12 m12 l12">
      <h3 class="col s12 m12 l12 home_heading">{{ include.section.heading }}</h3>
      <p class="col s12 words">{{ include.section.words }}</p>
    </div>
  </div>
  <div class="{{include.section.border}}-border my-borders"></div>
</a>