<footer class="page-footer my_footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text footer_titles">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" target="_blank" href="{{site.github_link}}"><i class="fa fa-github-square footer_icons" aria-hidden="true"></i><span class="footer_link_text"> github</span></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    <a class="grey-text text-lighten-4 right" href="https://github.com/LevytsRoman/levytsroman.github.io">View source code</a>
    </div>
  </div>
</footer>
