<head>
  <meta charset="UTF-8">
  <meta http-equiv="Expires" content="600" />
  <meta propery="og:type" content="website" />
  <meta property="og:url" content="https://levytsroman.github.io/" />
  <meta property="og:title" content="Roman Levytskyy" />
  <meta property="og:description" content="Look at all the cool animations I copy pasted together" />
  <meta property="og:image" content="https://levytsroman.github.io/assets/images/me.jpg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400|Open+Sans|Josefin+Slab:300|Lobster+Two" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/css/main.css" media="screen" title="no title">

  <title>{{site.title}}</title>
</head>