<head>
  <meta charset="UTF-8">
  <meta http-equiv="Expires" content="600" />
  <meta propery="og:type" content="website" />
  <meta property="og:url" content="https://levytsroman.github.io/" />
  <meta property="og:title" content="Roman Levytskyy" />
  <meta property="og:description" content="Look at all the cool animations I copy pasted together" />
  <meta property="og:image" content="https://levytsroman.github.io/assets/images/me.jpg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">


  <title>{{site.title}}</title>
</head>