<nav>
  <div class="nav-wrapper white s12">
    <a href="/" class="brand-logo"><img src="/assets/images/logo1.png" alt="website logo" /></a>
    <a href="" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      {% for my_section in site.sections %}
        <li><a href={{my_section[1].url}}>{{my_section[0]}}</a></li>
      {% endfor %}
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="projects">projects</a></li>
      <li><a href="finished">finished</a></li>
      <li><a href="about">about</a></li>
    </ul>
  </div>
</nav>
