<nav class="z-depth-0 transparent">
  <div class="nav-wrapper transparent s12">
    <a href="/" class="brand-logo"><img src="/assets/images/logo.png" alt="website logo" /></a>
    <a href="" data-activates="mobile-demo" class="button-collapse large">
      <i class="material-icons black-text sandwich">menu</i>
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      {% for my_section in site.data.sections %}
        <li><a href={{my_section[1].url}} class="">{{my_section[0]}}</a><div class="nav-underline"></div></li>
      {% endfor %}
    </ul>
    <ul class="side-nav" id="mobile-demo">
      {% for my_section in site.data.sections %}
        <li><a href={{my_section[1].url}}>{{my_section[0]}}</a><div class="nav-underline"></div></li>
      {% endfor %}
    </ul>
  </div>
</nav>
