<nav>
  <div class="nav-wrapper white">
    <a href="/" class="brand-logo"><img src="/assets/images/logo1.png" alt="website logo" /></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/finished_projects">finished</a></li>
      <li><a href="/current_projects">current</a></li>
      <li><a href="/about">about</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="/finished_projects">finished</a></li>
      <li><a href="/current_projects">current</a></li>
      <li><a href="/about">about</a></li>
    </ul>
  </div>
</nav>
