<div class="project row" style="background-image: url({{project.cover}}); background-size: cover;">
  <div class="cover {% cycle 'left', 'right'%} col m5 s12">
    <div class="valign-wrapper">
      <div class="col s8 offset-s2">
        <h3 class="heading">{{project.title}}</h3>
        <!-- Modal Trigger -->
        <button class="fill col s12 modal-trigger" href="#{{project.id}}">learn more</button>
      </div>
    </div>
    <!-- Modal Structure -->
    {% include project_modal.html %}
</div>
