<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/barba.js/1.0.0/barba.min.js" type="text/javascript"></script>
<script type="text/javascript" src='/assets/js/functions.js'></script>
<script type="text/javascript" src='/assets/js/transitions.js'></script>
<script type="text/javascript" src='/assets/js/initialize.js'></script>
<script type="text/javascript" src='/assets/js/script.js'></script>