#homepage {
  a {
    box-sizing: border-box;
    padding: 0px;
  }
  overflow: hidden;

  .home_heading {
    font-family: $font1;
    font-size: 4rem;
  }
  // .box {
  //   height: 50vh;
  //   min-height: 300px;
  //   color: white;
  //   font-weight: 600;
  //   position: relative;
  // }
  .row {
    margin: 0;
    z-index: 10;
  }

  .about {
    // background-color: #F2F7F2;
    background-image: url("/assets/images/me.jpg");
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba($color6, 0.9);
    transition: box-shadow 0.5s linear;
  }

  // .about:hover {
  //   // background-color: rgba(142,85,114, 0.9);
  // box-shadow: inset 0 0 0 1000px rgba($color6, 0.6);
  //   // border: 2px solid white;
  //   // border-radius: 5px;
  // }

  .projects {
    // background-color: #F46036;
    box-shadow: inset 0 0 0 1000px rgba($color6, 0.9);
    transition: box-shadow 0.5s linear;
    background-image: url("/assets/images/projects.jpg");
    background-size: cover;
  }
  .projects:hover {
    // background-color: rgba(244,96,54,0.9);
    box-shadow: inset 0 0 0 1000px rgba($color6, 0.6);
    // border: 2px solid white;
    // border-radius: 5px;
  }

  .contact a {
    margin-left: 10px;
  }

  .contact a:hover {
    color: #f46036;
  }
  .algorithms {
    // background-color: #2E294E;

    box-shadow: inset 0 0 0 1000px rgba($color6, 0.9);
    transition: box-shadow 0.5s linear;
    background-image: url("/assets/images/resume.jpg");
    background-size: cover;
  }
  .algorithms:hover {
    background-color: #443c72;
    box-shadow: inset 0 0 0 1000px rgba($color6, 0.6);
    // border: 2px solid white;
    // border-radius: 5px;
  }

  .contact {
    // background-color: rgb(142,85,114);
    background-image: url("/assets/images/contact.jpg");
    box-shadow: inset 0 0 0 1000px rgba($color6, 0.9);
    transition: box-shadow 0.5s linear;
    background-size: cover;
  }
  .contact:hover {
    // background-color: #F2F7F2;
    box-shadow: inset 0 0 0 1000px rgba($color6, 0.6);
  }

  .profile_picture {
    border-radius: 35%;
  }

  .words {
    font-size: 1.3rem;
    letter-spacing: +2px;
    font-family: $font2;
    // color: black;
    font-weight: 100;
  }

  li {
    display: inline-block;
  }
  @media all and (max-height: 600px) {
    body {
      overflow: visible;
    }
    .box {
      height: 300px;
    }
  }
  @media all and (max-width: 600px) {
    body {
      overflow-y: visible !important;
    }
  }
}
