#homepage {
  a {
    box-sizing: border-box;
    padding: 0px;
  }
  overflow: hidden;

  .home_heading {
    font-family: $font1;
    font-size: 4rem;
  }
  // .box {
  //   height: 50vh;
  //   min-height: 300px;
  //   color: white;
  //   font-weight: 600;
  //   position: relative;
  // }
  .row {
    margin: 0;
    z-index: 10;
  }

  .profile_picture {
    border-radius: 35%;
  }

  .words {
    font-size: 1.3rem;
    letter-spacing: +2px;
    font-family: $font2;
    // color: black;
    font-weight: 100;
  }

  li {
    display: inline-block;
  }
  @media all and (max-height: 600px) {
    body {
      overflow: visible;
    }
    .box {
      height: 300px;
    }
  }
  @media all and (max-width: 600px) {
    body {
      overflow-y: visible !important;
    }
  }
}
