#homepage {
  overflow: hidden;
  h3 {
    font-family: 'Abril Fatface', cursive;
  }
  .box {
    height: 50vh;
    min-height: 300px;
    color: white;
    font-weight: 600;
  }
  .row {
    margin: 0;
  }
  .about {
    background-color: rgb(142,85,114);
  }
  .about:hover {
    background-color: rgba(142,85,114, 0.9);
    border: 2px solid white;
    border-radius: 5px;
  }

  .current {
    background-color: #F46036;
  }
  .current:hover {
    background-color: rgba(244,96,54,0.9);
    border: 2px solid white;
    border-radius: 5px;
  }

  .contact a {
    margin-left: 10px;
  }

  .contact a:hover {
    color: #F46036;
  }
  .completed {
    background-color: #2E294E;
  }
  .completed:hover {
    background-color: #443C72;
    border: 2px solid white;
    border-radius: 5px;
  }

  .contact {
    background-color: #F2F7F2;
  }

  .profile_picture {
    border-radius: 35%;
  }

  .words {
    font-size: 1.3em;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
  }

  li {
    display: inline-block;
  }
  @media all and (max-height: 600px) {
    body {
      overflow: visible;
    }
    .box {
      height: 300px;
    }
  }
  @media all and (max-width: 600px) {
    body{
      overflow-y: visible !important;
    }
  }

}
