$font1: "Josefin Slab", serif;
$font2: "Raleway", sans-serif;
$font3: "Lobster Two", cursive;
$font4: "Open Sans", sans-serif;
$color1: #f2f7f2;
$color2: #f46036;
$color3: #2e294e;
$color4: #8e5572;

$color6: #292929;

$text-color: #eff2ef;

$modal-text: #fcf5c7;

$dark-grey: #292929;
$background-color: #fcf5c7;

$cover-color: #f9f0ae;

@import "glitch", "homepage", "style";

.about_section {
  .skills_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .skill_group {
    width: 30%;
  }
}

.my_footer {
  background-color: $dark-grey;
  margin-top: 40px;
}

.resume-wrapper {
  button {
    margin-top: 50px;
  }
}
body {
  background-color: $background-color;
  min-height: 100%;
  min-width: 300px;
}

nav {
  margin-top: 40px;
  margin-bottom: 100px;
}

nav ul li a {
  font-weight: 600;
  color: black;
}

.projects_container {
  padding: 20px 10px 0 10px;
  width: 100%;
  margin: auto;
}

nav ul li a:hover {
  transition: none !important;
  background-color: transparent;
}

nav ul li {
  transition: none !important;
  background-color: transparent !important;
}

.nav-underline {
  margin: 0 25px 0 25px;
  width: 0%;
  height: 3px;
  background-color: black;
  transition: width 0.3s;
}

.nav-underlined,
.nav-hover-underlined {
  width: 30%;
}

.heading {
  color: $dark-grey;
  font-weight: 200px;
  font-size: 2.3rem;
  font-family: $font1;
}

.homepage-section {
  display: block;
  height: 50vh;
  min-height: 300px;
  color: $text-color;
  // font-weight: 600;
  position: relative;
}

.quote_box {
  padding: 0 5% 0 5%;
  margin-bottom: 50px;
}

.quote {
  font-size: 2rem;
  font-weight: 300;
  text-indent: 15%;
  margin-bottom: 0;
  font-family: $font2;
}

.author {
  padding-right: 5%;
  margin-top: 0;
  font-size: 1.7rem;
  font-family: $font1;
  font-style: italic;
}

.skills_heading {
  margin-top: 60px;
  font-size: 3rem;
}

.skill_names {
  font-size: 1.5rem;
  color: $dark-grey;
  font-style: $font2;
  font-weight: 200;
  margin-left: 10px;
}

.my_container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.carousel-arrows {
  width: 50px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 1000;
  top: 0;
}

.carousel-arrows:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.left-arrow {
  left: 0;
}

.right-arrow {
  left: 500px;
}

.projects-bottom {
  margin-top: 50px;
}

.footer_titles {
  font-family: $font1;
  font-size: 35px;
}

.footer_icons {
  font-size: 30px !important;
}

.footer_description_link {
  color: $text_color;
  font-weight: 300;
  font-style: italic;
  transition: color 0.5s linear;
}

.footer_description_link:hover {
  color: $modal_text;
}

.footer_link_text {
  font-family: $font2;
  font-weight: 300;
  font-size: 20px;
}

.about_me_links {
  color: black;
  font-weight: 200;
  font-style: italic;
}

.about_me_links:hover {
  font-weight: 300;
}

#email_modal {
  background-color: $dark-grey;
  color: $modal-text;
}

.project_list {
  .modal,
  .modal-footer {
    background-color: $dark-grey;
  }
  .project_info {
    padding: 1%;
    padding-top: 20px;
  }
  .modal {
    color: $modal_text;
  }

  .buttons {
    .button_wrapper {
      box-sizing: border-box;
      display: inline-block;
      width: 30%;
      margin: 1%;
    }
  }
  .modal-footer {
    text-align: center !important;
    height: auto;
    height: 75px;
    .row {
      margin-bottom: 0;
    }
  }

  .project_icons {
    margin-top: 20px;
    font-size: 1.3em;
  }

  h4 {
    margin: 0px;
  }
  p {
    margin: 0 !important;
  }

  .info_type {
    font-style: italic;
    color: darkgrey;
    font-family: $font1;
    font-size: 1.5em;
    letter-spacing: +1px;
    text-transform: capitalize;
  }
  .modal {
    height: 90vh !important;
    margin-top: 5vh;
    min-height: 650px;
    max-height: 90vh;
    .modal-content {
      padding: 0 !important;
      margin: 0;
    }
  }
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
.carousel {
  margin: 0;
  padding: 0;
  height: 100%;
  max-height: 550px;
}

.valign-wrapper {
  height: 100%;
}

button {
  position: relative;
  font-family: $font2;
  display: block;
  height: 45px;
  line-height: 45px;
  width: 100%;
  font-size: 15px;
  letter-spacing: 0.8px;
  color: $dark-grey;
  border: 1px $dark-grey solid !important;
  border-radius: 3px;
  outline: 0;
  overflow: hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  -ms-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
}

.buttons button {
  color: $modal-text;
  border: 1px $modal-text solid !important;
}

button:focus {
  background-color: transparent;
}

button.fill:hover {
  background-color: transparent;
  color: $cover-color;
}

button.fill:before {
  content: "";
  position: absolute;
  background: $dark-grey;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}

.buttons button.fill:hover {
  color: $dark-grey;
}

.buttons button.fill:before {
  background: $modal-text;
}

button.fill:hover:before {
  top: -5px;
}

.description {
  color: $modal-text;
  letter-spacing: +1px;
  font-family: $font2;
  font-weight: 200;
  font-size: 1.1rem;
}

.cover {
  background-color: $cover-color;
  width: 40%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.skills {
  margin-bottom: 40px;
  color: $modal-text;
}

.project {
  width: 90%;
  height: 400px;
  margin: auto;
  margin-top: 40px;
  box-shadow: 0 0 1000px 10px black inset;
}

.skill_icon {
  color: $modal-text;
  font-size: 1.5rem;
}

.about_skill_icon {
  color: $dark-grey;
  font-size: 1.5rem;
}
.box {
  height: 50vh;
}

.my-borders {
  margin: 0;
  padding: 0;
  height: 0px;
  width: 0px;
  position: absolute;
  background-color: $background-color;
}

.about-border {
  bottom: 0px;
  right: 0;
}

.algorithms-border {
  top: 0;
  right: 0;
}

.contact-border {
  top: 0;
  left: -1px;
}

.projects-border {
  bottom: 0;
  left: 0;
}

.about_img {
  margin-top: 15px;
  margin-right: 15px;
  -webkit-filter: sepia(0.3);
  filter: sepia(0.3);
}

.about_paragraph {
  font-size: 1.8em;
  letter-spacing: +0.5px;
  font-weight: 200;
}

/* label color */
.input-field label {
  color: $dark-grey !important;
}
/* label focus color */
.input-field input:focus + label {
  color: $dark-grey !important;
}
/* label underline focus color */
.input-field input:focus {
  border-bottom: 1px solid $dark-grey !important;
  box-shadow: 0 1px 0 0 $dark-grey !important;
}
/* valid color */
.input-field input.valid {
  border-bottom: 1px solid darkgreen !important;
  box-shadow: 0 1px 0 0 darkgreen !important;
}
/* invalid color */
.input-field input.invalid {
  border-bottom: 1px solid red !important;
  box-shadow: 0 1px 0 0 red !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: $dark-grey !important;
}
textarea:focus {
  outline: none !important;
  border-bottom: 1px solid $dark-grey !important;
  box-shadow: 0 1px 0 0 $dark-grey !important;
}

nav,
nav .nav-wrapper i,
nav a.button-collapse,
nav a.button-collapse i {
  font-size: 3rem;
}

@media only screen and (max-width: 993px) {
  .nav-underlined,
  .nav-underline {
    margin-left: 40px;
  }
  .nav-underlined,
  .nav-hover-underlined {
    width: 15%;
  }
}

@media only screen and (max-width: 601px) {
  nav,
  nav .nav-wrapper i,
  nav a.button-collapse,
  nav a.button-collapse i {
    font-size: 2.5rem;
  }

  .description {
    font-size: 0.9rem;
  }

  .project_list {
    .modal {
      margin-top: 2vh !important;
      min-height: 550px !important;
      height: 75vh !important;
    }
  }
  .info_type {
    font-weight: 400 !important;
    letter-spacing: normal !important;
    font-size: 0.9rem !important;
    font-family: $font1 !important;
  }

  .about_section {
    .skill_group {
      width: 50%;
    }
  }
}
