// $eerie-black: #1C1C1C;
// $mint-cream: #F4FFF8;
// $blue-sapphire: #19647E;
// $stil-de-grain-yellow: #F5CB5C;
// $cardinal: #C61F30;
$font1: 'Josefin Slab', serif;
$font2: 'Raleway', sans-serif;
// $font3:

$color1: #F2F7F2;
$color2: #F46036;
$color3: #2E294E;
$color4: #8e5572;

// $color1: #A8DADC;
// $color2: #E63946;
// $color3: #457B9D;
// $color4: #1D3557;
// $color5: #F1FAEE;
$color6: #292929;

// $text-color: #F1FAEE;
// $text-color: #EFF2EF;
$text-color: #EFF2EF;

// $modal-text: #FFEE93;
$modal-text: #FCF5C7;

$dark-grey: #292929;
$background-color: #FCF5C7;

$cover-color: #f9f0ae;

@import
  "homepage",
  "style",
  "syntaxhighlight"
;

// html {
//   box-shadow: inset 0 0 0 1000px rgba($color6, 0.9);
//   background-image: url('/assets/images/construction-2682641_1920.jpg');
// }


// .resume {
//   width: 100%;
//   max-width: 875px;
//   min-height: 100vh;
//   max-height: 1000px;
// }
// .resume-img-wrapper {
//   width: 100px;
//   background-color: orange;
//
// }
.my_footer {
  background-color: $dark-grey;
  margin-top: 40px;
}

.resume-wrapper {
  button {
    margin-top: 50px;
  }
}
body {
  background-color: $background-color;
  min-height: 100%;
}

nav {
  margin-top: 40px;
  margin-bottom: 100px;
}

nav ul li a {
  font-weight: 600;
  color: black;
}

.image_wrapper {
  object-fit: fill;
}

.project_img {
  height: 90vh;

}

.projects_container {
  padding: 20px 10px 0 10px;
  width: 100%;
  margin: auto;
}

nav ul li a:hover {
  transition: none !important;
  background-color: transparent;
}

nav ul li {
  transition: none !important;
  background-color: transparent !important;
}

.nav-underline {
  margin: 0 25px 0 25px;
  width: 0%;
  height: 3px;
  background-color: black;
  transition: width .3s;
}

.nav-underlined, .nav-hover-underlined {
  width: 30%;
}

.heading {
  color: $dark-grey;
  font-weight: 200px;
  font-size: 2.3rem;
  font-family: $font1;
}

.homepage-section {
  display: block;
  height: 50vh;
  min-height: 300px;
  color: $text-color;
  // font-weight: 600;
  position: relative;
}

.quote_box {
  padding: 0 5% 0 5%;
  margin-bottom: 50px;
}

.quote {
  font-size: 2rem;
  font-weight: 300;
  text-indent: 15%;
  margin-bottom: 0;
  font-family: $font2;
}

.author {
  padding-right: 5%;
  margin-top: 0;
  font-size: 1.7rem;
  font-family: $font1;
  font-style: italic;
}

.skills_heading {
  margin-top: 60px;
  font-size: 3rem;
}

.skill_names {
  font-size: 1.5rem;
  color: $dark-grey;
  font-style: $font2;
  font-weight: 200;
  margin-left: 10px;
}

.my_container {
  max-width: 1300px;
  margin-left: auto ;
  margin-right: auto ;
}

.projects-bottom {
  margin-top: 50px;
}

#email_modal {
  background-color: $dark-grey;
  color: $modal-text;
}

.project_list {
  .modal .modal-content {
    padding: 0 !important;
    margin: 0;
    height: 100%;
  }

  .modal {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 90vh;
    max-height: 90vh;
    margin-top: 5vh;
    // width: auto;
    // max-height: 100vh !important;
    // margin-top: 5vh;
    // height: 90vh;
    // width: 90vw;
    // max-width: 1300px;
    // max-height: 600px;
    // width: 80%;
    // margin-top: 5%
    // height: 80vh;
    // max-width: 1300px;
    // height: 1000px;
  }

  .modal .modal-content .row {
    background-color: $dark-grey;
    color: $text-color;
    height: 100%;
    margin: 0;
  }

  .modal_heading {
    color: $modal-text;
  }
}

.carousel {
  margin: 0;
  padding: 0;
  height: 100%;
}

.valign-wrapper {
  height: 100%;
}



button {
  position: relative;
  font-family: $font2;
  display:block;
  height: 45px;
  line-height: 45px;
  // width: 150px;
  margin: 5px;
  // padding: 5px 5px;
  // font-weight: 700;
  font-size: 15px;
  letter-spacing: .8px;
  color: $dark-grey;
  border: 1px $dark-grey solid !important;
  border-radius: 3px;
  // text-transform: uppercase;
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition:         0.2s ease-in;
  -o-transition:      0.2s ease-in;
  -ms-transition:     0.2s ease-in;
  -moz-transition:    0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
}

.buttons button {
  color: $modal-text;
  border: 1px $modal-text solid !important;
}

button:focus {
  background-color: transparent;
}

button.fill:hover {
  background-color: transparent;
  color: $cover-color;;
}

button.fill:before {
  content: "";
  position: absolute;
  background: $dark-grey;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}

.buttons button.fill:hover {
  color: $dark-grey
}

.buttons button.fill:before {
  background: $modal-text;
}

button.fill:hover:before {
  top: -5px;
}

.description {
  color: $modal-text;
  letter-spacing: +1px;
  font-family: $font2;
  margin-bottom: 30px;
  font-weight: 200;
  margin-top: 30px;
  font-size: 1.5rem;
}

.cover {
  background-color: $cover-color;
  // opacity: 1;
  // color: $modal-text;
  width: 40%;
  height: 100%;
  margin: 0;
  padding: 0;
  // opacity: 0.9;
}

// .project_img {
//   height: 100%;
//   -webkit-filter: grayscale(65%); /* Safari 6.0 - 9.0 */
//   filter: grayscale(65%);
// }

.skills {
  margin-bottom: 40px;
  color: $modal-text;
}

.project {
  width: 90%;
  height: 400px;
  margin: auto;
  margin-top: 40px;
  box-shadow: 0 0 1000px 10px black inset;
}

.skill_icon {
  color: $modal-text;
  font-size: 1.5rem;
}

.about_skill_icon {
  color: $dark-grey;
  font-size: 1.5rem;
}
.box {
  height: 50vh;
}

.my-borders {
  margin: 0;
  padding: 0;
  height: 0px;
  width: 0px;
  position: absolute;
  background-color: $background-color;
}

.about-border {
  bottom: 0;
  right: 0;
}

.algorithms-border {
  top: 0;
  right: 0;
}

.contact-border {
  top: 0;
  left: 0;
}

.projects-border {
  bottom: 0;
  left: 0;
}

.about_img {
  margin-top: 15px;
  margin-right: 15px;
  -webkit-filter: sepia(0.3);
  filter: sepia(0.3);
}

.about_paragraph {
  font-size: 1.8em;
  letter-spacing: +.5px;
  font-weight: 200;
}

/* label color */
.input-field label {
 color: $dark-grey !important;
}
/* label focus color */
.input-field input:focus + label {
 color: $dark-grey !important;
}
/* label underline focus color */
.input-field input:focus {
 border-bottom: 1px solid $dark-grey !important;
 box-shadow: 0 1px 0 0 $dark-grey !important;
}
/* valid color */
.input-field input.valid {
 border-bottom: 1px solid darkgreen !important;
 box-shadow: 0 1px 0 0 darkgreen !important;
}
/* invalid color */
.input-field input.invalid {
 border-bottom: 1px solid red !important;
 box-shadow: 0 1px 0 0 red !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: $dark-grey !important;
}
textarea:focus {
 outline: none !important;
 border-bottom: 1px solid $dark-grey !important;
 box-shadow: 0 1px 0 0 $dark-grey !important;
}

nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
  font-size: 3rem;
}

@media only screen and (max-width: 993px) {
  .project_img {
    width: 100%;
    height: auto;
  }
  .carousel.carousel-item {
    height: auto;
  }
  .nav-underlined, .nav-underline {
    margin-left: 40px;
  }
  .nav-underlined, .nav-hover-underlined {
    width: 15%;
  }
}

@media only screen and (max-width: 601px) {
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    font-size: 2.5rem;
  }
}
