#homepage {
  overflow: hidden; }
  #homepage h3 {
    font-family: 'Abril Fatface', cursive; }
  #homepage .box {
    height: 50vh;
    min-height: 300px;
    color: white;
    font-weight: 600; }
  #homepage .row {
    margin: 0; }
  #homepage .about {
    background-color: #8e5572; }
  #homepage .about:hover {
    background-color: rgba(142, 85, 114, 0.9);
    border: 2px solid white;
    border-radius: 5px; }
  #homepage .current {
    background-color: #F46036; }
  #homepage .current:hover {
    background-color: rgba(244, 96, 54, 0.9);
    border: 2px solid white;
    border-radius: 5px; }
  #homepage .contact a {
    margin-left: 10px; }
  #homepage .contact a:hover {
    color: #F46036; }
  #homepage .completed {
    background-color: #2E294E; }
  #homepage .completed:hover {
    background-color: #443C72;
    border: 2px solid white;
    border-radius: 5px; }
  #homepage .contact {
    background-color: #F2F7F2; }
  #homepage .profile_picture {
    border-radius: 35%; }
  #homepage .words {
    font-size: 1.3em;
    font-family: 'Raleway', sans-serif;
    font-weight: 200; }
  #homepage li {
    display: inline-block; }
  @media all and (max-height: 600px) {
    #homepage body {
      overflow: visible; }
    #homepage .box {
      height: 300px; } }
  @media all and (max-width: 600px) {
    #homepage body {
      overflow-y: visible !important; } }

.brand-logo {
  margin-left: 5px;
  margin-top: 5px; }

#projects h3, .about-me h3, #algorithms h3 {
  font-family: 'Abril Fatface', cursive;
  font-weight: 600;
  letter-spacing: 1.2; }
#projects .card-title, .about-me .card-title, #algorithms .card-title {
  font-family: 'Abril Fatface', cursive;
  font-weight: 600;
  letter-spacing: 1.2; }
#projects .hidden, .about-me .hidden, #algorithms .hidden {
  display: none; }
#projects .project-img, .about-me .project-img, #algorithms .project-img {
  width: 500px;
  height: 300px; }
#projects .project-wrapper, .about-me .project-wrapper, #algorithms .project-wrapper {
  width: 100%; }
#projects .card, .about-me .card, #algorithms .card {
  width: 31.3%;
  height: 520px;
  display: inline-block;
  float: left;
  margin: 1% 1% 1% 1%; }
#projects .content, .about-me .content, #algorithms .content {
  min-height: 100vh; }
@media all and (max-width: 990px) {
  #projects .card, .about-me .card, #algorithms .card {
    width: 48%; } }
@media all and (max-width: 600px) {
  #projects .card, .about-me .card, #algorithms .card {
    width: 98%;
    min-width: 320px;
    margin: 5% 1% 5% 1%; } }
#projects .description, .about-me .description, #algorithms .description {
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em; }
#projects .about-me p, .about-me .about-me p, #algorithms .about-me p {
  color: white !important;
  margin: 4%;
  font-size: 25px;
  font-weight: 400;
  text-align: justify;
  text-indent: 50px;
  font-family: 'Raleway', sans-serif; }

#nav-mobile a, #mobile-demo a {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  margin: 0 10px 0 10px; }

nav {
  margin-bottom: 2%; }

.about-me .bio {
  color: white;
  padding: 2%; }

.technologies {
  background-color: white;
  color: #8e5572;
  padding: 0 2% 0 2%; }

.about-me p, .projects-paragraph {
  margin: 4%;
  font-size: 25px;
  font-weight: 400;
  text-align: justify;
  text-indent: 50px;
  font-family: 'Raleway', sans-serif; }

.projects-paragraph {
  color: white; }

.about-me li {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5em !important;
  width: 30%;
  float: left; }

i {
  cursor: pointer; }

.tag {
  background-color: white;
  color: black;
  height: 1.5rem;
  line-height: 1.5rem;
  margin: 3px;
  font-size: 1rem;
  font-weight: 800px; }

#filter {
  background-color: white;
  color: black;
  height: 2rem;
  line-height: 2rem;
  font-size: 1.2rem;
  font-weight: 400px; }

.active_tag {
  background-color: lightgrey; }

.tag:hover, #filter:hover {
  background-color: darkgrey; }

#algorithms p, .algorithm-content {
  color: white !important;
  margin: 4%;
  font-size: 25px;
  font-weight: 400;
  text-align: justify;
  text-indent: 50px;
  font-family: 'Raleway', sans-serif; }

#algorithms h3, .algorithm {
  color: white; }

.algorithm h3 {
  font-family: 'Abril Fatface', cursive;
  font-weight: 600;
  letter-spacing: 1.2; }

#algorithms a {
  color: #2E294E; }

#algorithms a:hover {
  opacity: 0.9; }

.post {
  border-bottom: solid 1px #2E294E; }

.time {
  font-style: italic;
  font-family: 'Raleway', sans-serif; }

.small-info {
  color: darkgrey !important;
  margin: 4%;
  font-size: 25px;
  font-weight: 400;
  text-align: justify;
  text-indent: 50px;
  font-family: 'Raleway', sans-serif; }

body {
  min-height: 100%; }

/*# sourceMappingURL=main.css.map */
