---
layout: default
---

{% include nav.html %}

<div class="row" id="algorithms">
  <div class="col s10 m12 center-align">
    <h3>Welcome to the Algorithms section</h1>
    <p>
      Here you can find descriptions as well as solutions for some common algorithms in programming as well as
      descriptions of datastructures.
    </p>
    {% for post in site.posts %}
      <div class="col s12 m8 offset-m2">
        <div class="row left-align">
          <h3><a href="{{post.url}}" class="">{{post.title}}</a></h3>
          <span>Posted on:</span>
          <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
            {{ post.date | date: "%B %-d, %Y" }}
          </time>
        </div>
      </div>
    {% endfor %}
  </div>
</div>


<script type="text/javascript" src='/assets/js/script.js'></script>
