---
layout: project
---

<div class="content">
  {% for item in site.data.projects %}
    {% assign tags = item.tags %}
    <div class="project-wrapper {{ item.tags }} {% if tags contains 'finished' %} visible {% else %}hidden{% endif %}">
      <div class="card hoverable">
        <div class="card-image">
          <img class="activator" src="{{ item.img }}">
          <a href="{{ item.url }}">
            <span class="card-title">{{ item.name }}</span>
          </a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{ item.name }}<i class="material-icons right">close</i></span>
            <p>{{ item.full_description }}</p>
          </div>
        <div class="card-content">
          <p>{{ item.description }}</p>
        </div>
        <div class="card-action">
          <a href="{{ item.github_url }}">Github</a>
          <a href="{{ item.url }}">Live preview</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
