{% include head.html %}

<div class="row">
  <div class="col m4 contact box">
    <div class="col s12 move">

    </div>
    <img class="col s5" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAi8AAAAJDQ5NzczYTUyLTkzZTctNGZmMC04ZDA0LWM2YjBjN2NkMWQxZQ.jpg" alt="" />
    <ul class="right-align col s5">
      <li>Email: <a href="#">r.levyts@gmail.com</a></li>
      <li><a href="#">Github</a></li>
      <li><a href="#">LinkedIn</a></li>
    </ul>
  </div>
  <a href="/current_projects">
    <div class="col m8 current box">
      <div class="valign-wrapper">
        <h3 class="valign center-block">Current projects/technologies I'm learning</h3>
      </div>
    </div>
  </a>
</div>
<div class="row">
  <div class="col m6 about box">
    <h2>About me:</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
  <a href="/finished_projects">
    <div class="col m6 completed box">
      <div class="valign-wrapper">
        <h3 class="valign center-block">Finished projects</h3>
      </div>
    </div>
  </a>
</div>
