---
layout: default
---

<div id="homepage">
  <div class="row top-row">
    {% include box.html section=site.data.sections.about %}
    {% include box.html section=site.data.sections.projects %}
  </div>
  <div class="row">
    <a href="/algorithms" class="homepage-section col s12 m6 algorithms">
      <div class="box valign-wrapper">
        <div class="row col s12 m12 l12">
          <h3 class="col s12 m12 l12 home_heading">Fun stuff</h3>
          <p class="col s12 words">some crap</p>
        </div>
      </div>
      <div class="algorithms-border my-borders"></div>
    </a>
    {% include box.html section=site.data.sections.contact %}
  </div>
</div>
<!-- <form class="" action="https://formspree.io/r.levyts@gmail.com" method="POST">
  <input type="text" name="" value="">
  <input type="submit" name="" value="send">
</form> -->
