{% include head.html %}

<div class="row">
  <div class="col s12 m4 contact box valign-wrapper">
    <div class="col s12 center-align">
      <img class="profile_picture" src="/assets/images/profile_picture.jpg" width='150' height='150' alt="" />
      <ul class="col s8 offset-s3 left-align">
        <li><img src='/assets/images/gmail_icon.png' width='20' height='20'><a href="#">r.levyts@gmail.com</a></li>
        <li><img src='/assets/images/github_icon.png' width='20' height='20'><a href="https://github.com/LevytsRoman">Github</a></li>
        <li><img src='/assets/images/linkedIn_icon.png' width='20' height='20'><a href="https://www.linkedin.com/in/levytsroman">LinkedIn</a></li>
      </ul>
    </div>
  </div>
  <a href="/current_projects">
    <div class="col s12 m8 current box valign-wrapper center-align">
      <div class="row">
        <h3 class="col s12">Current projects I'm working on</h3>
        <p class="col s12 words">A list of unfinished projects that are queueing to be completed</p>
      </div>
    </div>
  </a>
</div>
<div class="row">
  <a href="/about">
    <div class="col s12 m6 about box valign-wrapper center-align">
      <div class="row">
        <h3 class="col s12">About me</h3>
        <p class="col s12 words">Who I am, where I come from, and why I do what I do.</p>
      </div>
    </div>
  </a>
  <a href="/finished_projects">
    <div class="col s12 m6 completed box valign-wrapper center-align">
      <div class="row">
        <h3 class="col s12">Finished projects</h3>
        <p class="col s12 words">Programmer's work is never done but at this time I'm satisfied</p>
      </div>
    </div>
  </a>
</div>
