---
layout: default
---

{% include nav.html %}

<div class="row algorithm">
  <div class="col s10 offset-s1">
    <div class="col s12 center-align">
      <h3>{{ page.title }}</h3>
    </div>
    <div class="time left col s12">
      <span style="color: black">Posted on:</span>
      <time  style="color: darkgrey" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: "%B %-d, %Y" }}
      </time>
    </div>
    <div class="col s12 algorithm-content">
      {{ content }}
    </div>
    <a href="/algorithms">back to algorithms</a>
  </div>
</div>

<script type="text/javascript" src='/assets/js/script.js'></script>
